{
  "cloudURL": "https://api.electricimp.com/v5",
  "ownerId": "fe532488-74e4-a84a-6686-c6eda794abb1",
  "deviceGroupId": "6ab26f6c-5755-e4ba-ea02-551782f95e4d",
  "device_code": "src/device.nut",
  "agent_code": "src/agent.nut",
  "builderSettings": {
    "variable_definitions": {},
    "builder_libs": []
  }
}